@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --level-1-color: #ededed;
  --level-2-color: #acd5f2;
  --level-3-color: #7fa8c9;
  --level-4-color: #527ba0;
  --level-5-color: #254e77;
  --text-color: #959494;
  --tooltip-background: #000000;
  --tooltip-text: #ffffff;
  --tooltip-helper-text: #7c7c7c;
  --hover-border-color: rgba(0, 0, 0, 0.5);
  --main-size: 12px;
  --helper-text-size: 10px;
  --levels-text-size: 8px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  font-size: var(--main-size);
}

.capitalize {
  text-transform: capitalize;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table__head {
  display: flex;
  padding-left: 15px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}

.wrapper {
  display: flex;
}

.table__body {
  display: grid;
  grid-template-rows: repeat(7, 15px);
  grid-template-columns: 18px repeat(51, 15px);
  grid-auto-flow: column;
  grid-gap: 2px;
}

.day {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.table__body .day:hover {
  border: 1px solid var(--hover-border-color);
}

.table__body .day.selected {
  border: 1px solid var(--select-border-color);
}

.level-1 {
  background-color: var(--level-1-color);
}
.level-2 {
  background-color: var(--level-2-color);
}
.level-3 {
  background-color: var(--level-3-color);
}
.level-4 {
  background-color: var(--level-4-color);
}
.level-5 {
  background-color: var(--level-5-color);
}

.level {
  margin-top: 15px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.level .text {
  font-size: var(--levels-text-size);
}

.level .days {
  display: flex;
  align-items: center;
  column-gap: 2px;
}

.tooltip-text {
  color: var(--tooltip-text);
  text-align: center;
}

.tooltip-helper-text {
  margin-top: 2px;
  color: var(--tooltip-text);
  color: var(--tooltip-helper-text);
  text-transform: capitalize;
}
